@use "functions" as *;

$mobile: 640.98;
$mobile-s: 480.98;
$mobile-ss: 360.98;


@mixin mobile-above {
  @media (width > rem($mobile)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > rem($mobile-s)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= rem($mobile-s)) {
    @content;
  }
}


@mixin mobile-ss-above {
  @media (width > rem($mobile-ss)) {
    @content;
  }
}

@mixin mobile-ss {
  @media (width <= rem($mobile-ss)) {
    @content;
  }
}



@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}