@use "../helpers" as *;


.author {
  display: flex;
  align-items: center;
  column-gap: fluid(20, 10);

  &__image {
    border: rem(2) solid var(--border-color);
    border-radius: 50%;
    background-color: #282525;

    @include mobile {
      width: rem(60);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(2);
  }
}