@use "../helpers" as *;

.hero {
  padding-block: fluid(80, 40);
  border-top: var(--border);

  &__author {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__bio {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
}