@use "../helpers" as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}

.visually-hidden {
  @include visually-hidden;
}

.color-green {
  color: #389f1e;
}

.color-orange-html {
  color: #E34F26;
}

.color-pink-scss {
  color: #CC6699;
}

.color-blue-bem {
  color: #00A8E8;
}

.color-yellow-js {
  color: #F7DF1E;
}



